In [1]:
import pandas as pd

df = pd.read_csv('/Users/pauviramontes/Downloads/Crop_recommendation.csv')

In [2]:
df.head(10)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5  69  37  42    23.058049  83.370118  7.073454  251.055000  rice
6  69  55  38    22.708838  82.639414  5.700806  271.324860  rice
7  94  53  40    20.277744  82.894086  5.718627  241.974195  rice
8  89  54  38    24.515881  83.535216  6.685346  230.446236  rice
9  68  58  38    23.223974  83.033227  6.336254  221.209196  rice

In [3]:
df['label'] = df['label'].astype(str)

In [4]:
df['label'].value_counts()

rice          139
Soyabeans     130
banana        130
beans         125
cowpeas       122
orange        122
maize         119
coffee        110
peas          100
groundnuts    100
mango         100
grapes        100
watermelon    100
apple         100
cotton        100
Name: label, dtype: int64

In [5]:
df['label'].nunique()

15

In [6]:
df['label'] = df['label'].str.strip()

In [7]:
df['label'] = df['label'].astype(str).str.lower()


# Check number of unique classes in target variable
print("Unique values in target variable:", df['label'].unique())
print("Number of classes:", len(df['label'].unique()))

# Check class distribution
print(df['label'].value_counts())

Unique values in target variable: ['rice' 'maize' 'soyabeans' 'beans' 'peas' 'groundnuts' 'cowpeas' 'banana'
 'mango' 'grapes' 'watermelon' 'apple' 'orange' 'cotton' 'coffee']
Number of classes: 15
rice          139
soyabeans     130
banana        130
beans         125
cowpeas       122
orange        122
maize         119
coffee        110
peas          100
groundnuts    100
mango         100
grapes        100
watermelon    100
apple         100
cotton        100
Name: label, dtype: int64

In [8]:
X = df[['N', 'P', 'K', 'temperature', 'ph', 'rainfall']]

In [9]:
y = df['label']

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

/Users/pauviramontes/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
import numpy as np

unique_values = np.unique(df['label'])
num_classes = len(unique_values)

print("Unique values in target variable:", unique_values)
print("Number of classes:", num_classes)

Unique values in target variable: ['apple' 'banana' 'beans' 'coffee' 'cotton' 'cowpeas' 'grapes'
 'groundnuts' 'maize' 'mango' 'orange' 'peas' 'rice' 'soyabeans'
 'watermelon']
Number of classes: 15

In [14]:
y_pred = logreg.predict(X_test)

In [15]:
print(y_pred)

['cowpeas' 'maize' 'maize' 'beans' 'cotton' 'coffee' 'cowpeas' 'banana'
 'coffee' 'banana' 'orange' 'peas' 'peas' 'soyabeans' 'orange' 'cotton'
 'mango' 'orange' 'beans' 'peas' 'maize' 'rice' 'banana' 'rice' 'rice'
 'grapes' 'apple' 'banana' 'peas' 'cowpeas' 'maize' 'peas' 'orange'
 'apple' 'grapes' 'cowpeas' 'coffee' 'banana' 'peas' 'cowpeas' 'soyabeans'
 'mango' 'beans' 'mango' 'cowpeas' 'grapes' 'watermelon' 'apple' 'grapes'
 'rice' 'rice' 'cowpeas' 'rice' 'beans' 'coffee' 'grapes' 'soyabeans'
 'cowpeas' 'soyabeans' 'banana' 'cowpeas' 'beans' 'coffee' 'cowpeas'
 'mango' 'banana' 'cotton' 'rice' 'cotton' 'beans' 'cowpeas' 'peas' 'peas'
 'coffee' 'peas' 'coffee' 'peas' 'beans' 'watermelon' 'cotton' 'soyabeans'
 'rice' 'cotton' 'cotton' 'orange' 'soyabeans' 'mango' 'rice' 'beans'
 'rice' 'orange' 'cotton' 'cowpeas' 'mango' 'watermelon' 'soyabeans'
 'watermelon' 'peas' 'cotton' 'cowpeas' 'beans' 'cotton' 'grapes' 'banana'
 'soyabeans' 'beans' 'soyabeans' 'soyabeans' 'apple' 'cowpeas' 'grapes'
 'peas' 'rice' 'peas' 'cotton' 'orange' 'beans' 'orange' 'mango' 'mango'
 'banana' 'watermelon' 'groundnuts' 'watermelon' 'watermelon' 'mango'
 'rice' 'coffee' 'cowpeas' 'beans' 'mango' 'rice' 'cotton' 'mango' 'beans'
 'cotton' 'cotton' 'beans' 'apple' 'banana' 'cowpeas' 'beans' 'cotton'
 'cowpeas' 'soyabeans' 'maize' 'peas' 'watermelon' 'mango' 'soyabeans'
 'beans' 'apple' 'coffee' 'soyabeans' 'soyabeans' 'cotton' 'maize'
 'cotton' 'cowpeas' 'coffee' 'mango' 'watermelon' 'cotton' 'peas' 'beans'
 'mango' 'soyabeans' 'peas' 'coffee' 'peas' 'cowpeas' 'watermelon' 'rice'
 'groundnuts' 'cotton' 'maize' 'cowpeas' 'banana' 'rice' 'maize' 'cowpeas'
 'cowpeas' 'beans' 'mango' 'peas' 'apple' 'beans' 'apple' 'banana' 'beans'
 'rice' 'banana' 'groundnuts' 'coffee' 'orange' 'groundnuts' 'cowpeas'
 'soyabeans' 'peas' 'maize' 'orange' 'cotton' 'watermelon' 'orange'
 'banana' 'groundnuts' 'grapes' 'coffee' 'watermelon' 'rice' 'banana'
 'cotton' 'peas' 'grapes' 'beans' 'orange' 'apple' 'grapes' 'coffee'
 'rice' 'watermelon' 'grapes' 'maize' 'watermelon' 'grapes' 'cowpeas'
 'cowpeas' 'soyabeans' 'banana' 'groundnuts' 'peas' 'grapes' 'maize'
 'banana' 'grapes' 'soyabeans' 'apple' 'soyabeans' 'maize' 'banana'
 'coffee' 'soyabeans' 'soyabeans' 'banana' 'mango' 'apple' 'orange'
 'grapes' 'banana' 'soyabeans' 'coffee' 'apple' 'grapes' 'apple' 'banana'
 'groundnuts' 'soyabeans' 'apple' 'apple' 'beans' 'orange' 'coffee'
 'mango' 'grapes' 'peas' 'cowpeas' 'beans' 'grapes' 'cotton' 'mango'
 'beans' 'apple' 'beans' 'mango' 'mango' 'apple' 'mango' 'apple' 'apple'
 'groundnuts' 'beans' 'maize' 'cowpeas' 'coffee' 'watermelon' 'cowpeas'
 'banana' 'mango' 'grapes' 'maize' 'rice' 'soyabeans' 'peas' 'groundnuts'
 'grapes' 'peas' 'apple' 'groundnuts' 'cotton' 'orange' 'maize' 'cowpeas'
 'cowpeas' 'beans' 'banana' 'apple' 'apple' 'watermelon' 'cowpeas'
 'orange' 'groundnuts' 'rice' 'beans' 'cowpeas' 'rice' 'maize' 'soyabeans'
 'apple' 'maize' 'banana' 'maize' 'maize' 'banana' 'cotton' 'cowpeas'
 'maize' 'beans' 'banana' 'watermelon' 'coffee' 'maize' 'grapes' 'cowpeas'
 'beans' 'watermelon' 'cowpeas' 'peas' 'grapes' 'groundnuts' 'beans']

In [16]:
import pandas as pd

# create a DataFrame with the test data and the predicted values
results = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

# display the first 10 rows of the results
print(results.head(10))

       Actual Predicted
618   cowpeas   cowpeas
115     maize     maize
135     maize     maize
350     beans     beans
1395   cotton    cotton
1447   coffee    coffee
669   cowpeas   cowpeas
1685   banana    banana
1448   coffee    coffee
772    banana    banana

In [18]:
accuracy = logreg.score(X_test, y_test)
print("The model's accuracy is:", accuracy)

The model's accuracy is: 0.8823529411764706